body{
    color: white;
    /* background: #080708; */
}
.top{
    padding-top: 100px;
    background: #080708;
}
.top-container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.top-container h1{
    font-size: 35px;
    text-align: center;
}
.after{
    width: 100px;
    margin: auto;
    height: 3px;
    background: #7AE582;
    margin-top: -20px;
}
.san{
    color: #7AE582;
    font-size: 55px;
}
.exp{
    /* background: red; */
    padding-top: 50px;
}
.exp>h1{
    text-align: center;
    font-size: 30px;
}
.exp-container{
    /* background: red; */
    width: 30%;
    margin: auto;
    /* text-align: center; */
}
.expdata>p{
    margin-top: -15px;
}
.cv{
    display: flex;
}
.line{
    width: 10%;
    height: 60px;
    filter: invert(81%) sepia(12%) saturate(1619%) hue-rotate(71deg) brightness(97%) contrast(93%);
    margin-right: 5px;
}
.cv>div{
    width: 90%;
}
.cv>div p{
    margin-top: -15px;
}
.cv-btn{
    width: 150px;
    height: 50px;
    /* float: right; */
    margin: auto;
    background: transparent;
    border: 2px solid #7AE582 ;
    color: white;
    margin-top: 40px;
    font-weight: 700;
}
.footerz{
    width: 100%;
    margin-top: 20%;
    height: 1vh;
    background:#7AE582 ;
}