body{
    color: white;
}
.sub{
    /* background: blue; */
    width: 100%;
    height: auto;
    padding-top: 100px;
    
}
.sub_container{
    width: 85%;
    /* background: pink; */
    height: auto;
    display: flex;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */
}
.left{
    /* background: red; */
    width: 50%;    
}
.left>p{
    font-size: 20px;
    /* margin-left: 15%; */
    font-weight: 350;
    /* background: red;  */
}
.one{
    color: #7AE582;
}
.two{
    color: #9FFFCB;
}
.right{
    /* background: purple; */
    width: 50%;
}
.right>img{
    width: 60%;
    float: right;
}